#same_init {
    background: #FFFFFF;
    top: 43%;
    position: fixed;
    width: 150px;
    height: 75px;
    z-index: 99990;
    border: 1px solid #000;
    right: 0px;
}
#same_initheader {
  padding: 0px 10px 0px 10px;;
  cursor: move;
  z-index: 99991;
  background-color: #2196F3;
  color: #fff;
}
#same_init:hover {
    background: #000;
}
#same_init img {
    width: 150px;
    cursor: pointer;
}
#same_panel_base {
    background: #FFFFFF;
    font-size: 13px;
    color: #000;
    bottom: 0px;
    display:none;
    position:fixed;
    width:100%;
    height:150px;
    padding:3px;
    z-index:99992;
    border:1px solid #000;
}

#same_new_meeting {
    background: #FFFFFF;
    font-size: 13px;
    color: #000;
    top: 40%;
    right: 0px;
    position:fixed;
    width:300px;
    height:350px;
    padding:3px;
    z-index:99992;
    border:1px solid #000;
}
#same_new_meeting_iframe {
    height: 100%;
}

#same_login, #same_loguot {
    background: #FFFFFF;
    font-size: 13px;
    color: #000;
    top: 40%;
    right: 0px;
    position:fixed;
    width:300px;
    height:200px;
    padding:3px;
    z-index:99992;
    border:1px solid #000;
}
#same_login_iframe,  #same_logout_iframe {
    height: 100%;
}


#same_panel_base button {
    background-color: #ffffff; /* #d7d7d7; */
    height: 25px;
    font-size: 13px;
    color: #000;
    padding: 0px 2px 0px 2px;
    cursor: pointer;
    background-repeat: no-repeat;
    margin-right: 2px;
}

#same_panel_base button:hover {
    opacity: 60%;
}
#same_panel_base hr {
    width: 100%;
    border-top: 1px solid #d7d7d7;
    margin-top: 5px;
    margin-bottom: 5px;
}
#same_panel_base textarea {
    width:98%;
    height:127px;
}
#same_recording {
    width:6%;
}
.same_recording_internal {
    float:left;
}

#same_tools {
    width:11%;
}
#same_panel {
    width:74%;
    background: #eeeeee;
}
#same_info {
    width:5%;
    text-align: center;
}

/*
#same_modal {
    width:100%;
    height: 100%;
    text-align: center;
    background: #000000bd;
    display: none;
    z-index: 9999999;
    position: absolute;
    top: 0px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
}
*/

#same_count_hour_default {
    height: 100%;
    padding-top: 10px;
}
#same_function_start_hour_button {
    height: 50px !important;
    width:100%;
    background: #03a9f4 !important;;
        max-width: 100px;
}
#same_function_stop_hour_button{
    height: 24px !important;
    background: #69d26d !important;;
    margin-bottom: 2px;
    width:100%;
        max-width: 100px;
}
#same_function_start_short_hour_button {
    height: 24px !important;
    background: #03a9f4 !important;;
    margin-bottom: 2px;
    width:100%;
        max-width: 100px;
}
#same_function_clear_hour_button{
    height: 24px !important;
    width:100%;
        max-width: 100px;
}
#same_panel_edit_external{
    position: absolute;
    left: 0px;
    height: 650px;
    width: 100%;
    background: #ffffff;
    text-align: right;
    z-index: 99999;
}
.same_panel_edit_external_bottom {
    top: -490px;
    border-top: 1px solid #000;
}
.same_panel_edit_external_top {
    top: 0px;
    border-bottom: 1px solid #000;
}

#same_panel_edit_external_iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
#same_rapid_command {
    width: 3%;
}
#same_note_text_div {
    width: 97%;
}
#same_note_text_iframe {
    width: 98%;
    margin-left: 6px;
    padding: 5px;
    background-color: #fff;
    height: 135px;
    overflow: auto;
    border: 1px solid #000000;
}

#same_note {
  height: 100% !important;
}

.same_note_text_big_bottom {
      position: absolute;
      height: 500px !important;
      top: -356px;
      width: 70% !important;

}
.same_note_text_big_top {
      position: absolute;
      height: 500px !important;
      width: 70% !important;
}
.same_note_text_big_right {
      width: 800px !important;
      height: 500px !important;
}

.same_panel_style {
    float:left;
    height:100%;
    padding-top:3px;
    padding-left:10px;
}
.same_panel_style_border {
    border-right:1px solid #000;
}
.same_panel_style_border_gray {
    border-right:1px solid #d7d7d7;
}
.same_panel_bottone_active {
    background: #69d26d !important;
}
#same_common {
    display: block;
    width: 100%;
    height: 137px;
    overflow: auto;
}

.same_button_no_border {
  border: 0px solid #fff;
}
.same_icon_style {
  width: 24px !important;
  height: 24px !important;
  border: none;
  cursor: pointer !important;
  margin-left: 1px;
  margin-bottom: 2px;
}
.same_icon_style:hover {
    opacity: 60%;
}

#same_function_setting_button {
    background-image: url('https://plugin.sameapp.net/v1/img/setting.png') !important;
}
#same_function_top_button {
    background-image: url('https://plugin.sameapp.net/v1/img/position-top.png') !important;
}
#same_function_bottom_button {
    background-image: url('https://plugin.sameapp.net/v1/img/position-down.png') !important;
}
#same_function_icon_button {
    background-image: url('https://plugin.sameapp.net/v1/img/position-icon.png') !important;
}
#same_function_edit, #same_function_edit_shurtcut {
    background-image: url('https://plugin.sameapp.net/v1/img/edit.png') !important;
    background-color: #eeeeee !important;
    position: fixed;
}

/* #same_function_shortcut_button, #same_function_shortcut_short_button, #same_function_shortcut_button_vertical { */
#same_function_shortcut_button, #same_function_shortcut_short_button {
    background-image: url('https://plugin.sameapp.net/v1/img/shortcuts.png') !important;
}
#same_function_note_small_button, #same_function_note_small_button_vertical {
    background-image: url('https://plugin.sameapp.net/v1/img/zoomin.png') !important;
}
#same_function_note_big_button, #same_function_note_big_button_vertical {
    background-image: url('https://plugin.sameapp.net/v1/img/zoomout.png') !important;
}
#same_function_note_big_button {
    background-image: url('https://plugin.sameapp.net/v1/img/zoomout.png') !important;
}
#same_function_check {
    background-image: url('https://plugin.sameapp.net/v1/img/check.png') !important;
}

.sameAddValueInNote {
    background-image: url('https://plugin.sameapp.net/v1/img/shortcuts2.png') !important;
    position: absolute;
}
.sameBlockApi {
    height: 27px;
}

.same_resize_img {
  background-size: 22px;
  background-position: bottom;
}
.same_resize_small_img {
  background-size: 15px;
  background-position: left;
  margin-left: 19px;
  background-color: #fff0 !important;
}
.same_buttom_img {
    padding-left: 22px !important;
    background-position: left;
    background-size: 18px;
    margin-bottom: 5px;
    margin-right: 5px;
}
#same_function_agenda_data_button {
    background-image: url('https://plugin.sameapp.net/v1/img/calendar2.png') !important;
}
#same_function_participant_list_button {
    background-image: url('https://plugin.sameapp.net/v1/img/list.png') !important;
}
#same_function_meeting_attachments_button {
    background-image: url('https://plugin.sameapp.net/v1/img/attachments.png') !important;
}
#same_function_meeting_data_button {
    background-image: url('https://plugin.sameapp.net/v1/img/meeting-information.png') !important;
}
#same_function_meeting_notes_button {
    background-image: url('https://plugin.sameapp.net/v1/img/list.png') !important;
}
#same_function_screenshot_button {
    background-image: url('https://plugin.sameapp.net/v1/img/screenshot.png') !important;
}
#same_function_records_button {
    background-image: url('https://plugin.sameapp.net/v1/img/rec-1.png') !important;
}
#same_screenshot_button {
    background-image: url('https://plugin.sameapp.net/v1/img/screenshot.png') !important;
}
#same_record_button {
    background-image: url('https://plugin.sameapp.net/v1/img/rec-1.png') !important;
}
#same_stop_button {
    background-image: url('https://plugin.sameapp.net/v1/img/stop.png') !important;
}
#same_cancel_button {
    background-image: url('https://plugin.sameapp.net/v1/img/pause.png') !important;
}






#same_data_meeting_edit {
    margin-right: 10px;
    height: 100px;
    width: 34px;
    float:left;
}
#same_data_meeting_body {
    float:left;
}
#img_setting_logo {
    width: 100px;
}


div.editable {
}
/* esterni */

.tox-statusbar {
    display: none !important;
}
#tinymce p {
    margin: 0px !important;
}
.mce-content-body p {
    margin: 1px;
}
.tox.tox-silver-sink.tox-tinymce-aux {
    z-index: 99995;
}



#same_function_right_button {
    background-image: url('https://plugin.sameapp.net/v1/img/position-right.png') !important;
}
.same_panel_base_right {
    width: 400px !important;
    height: 100% !important;
    right: 0px !important;
}
.same_panel_right {
    float: none  !important;
    height: 30px  !important;
    width: 100% !important;
}
.same_panel_right_tools {
    float: none  !important;
    height: 47px  !important;
    width: 100% !important;
    padding-top: 4px;
}
.same_panel_panel_right {
    /* height: 76% !important; */
    float: none  !important;
    width: 100% !important;
    padding-top: 10px;
    border-top: 1px solid #000 !important;
    border-bottom: 1px solid #000 !important;
}
.same_common_right {
    float: none  !important;
    width: 100% !important;
    padding-top: 10px;
    height: 100% !important;
}

.same_info_right {
    float: none  !important;
    height: 116px  !important;
    width: 100% !important;
}

.same_hidden_active {
    display:  block !important;
}
.same_hidden_deactive {
    display:  none !important;
}
.same_note_text_iframe_right {
    top: 122px;
    right: 3px;
    width: 95% !important;
    position: absolute;
    /* height: 74% !important; */
}
.same_note_text_iframe_right_big {
    width: 195% !important;
}
.same_panel_edit_external_right {
    top: 0px;
    position: fixed !important;
    width: 100% !important;
    right: 0px !important;
    left: unset !important;
    height: 100% !important;
    border: 1px solid #000 !important;
}
.same_rapid_command_right {
    width: 100% !important;
}
#same_function_note_button_vertical {
    position: relative;
    top: -5px;
}
.same_function_note_button_vertical_right {
    display: block !important;
}
.same_recording_internal_right {
    padding-top: 6px;
    padding-right: 7px;
    padding-left: 7px;
    border-right: 1px solid #9e9e9e;
}
